/* CSS */
.half-circle {
  position: absolute;
  bottom: 170px;
  width: 30px;
  height: 30px;
  border: inherit;
  border-radius: 50%;
}

.half-circle.left {
  left: 0;
  transform: translateX(-50%);
}

.half-circle.right {
  right: 0;
  transform: translateX(50%);
}
